.controls {
    padding: 10px 20px;
    display: flex;
    flex-flow: row  nowrap;
    justify-content: space-between;
}

.karmaCounter > * + * {
    padding: 0 0 0 4px;
}

.karmaValue {
    color: var(--greyC4);
}

.commentsButton {
    display: flex;
    align-items: normal;
}

.commentsButton {
    color: var(--greyC4);
}

.commentsNumber {
    padding: 0 0 0 6px;
    font-size: 12px;
    line-height: 14px;
}

.shareButton {
    width: 20px;
    height: 20px;
}

.saveButton {
    width: 20px;
    height: 20px;
}
